.box{
    width: 500px;
    background-color: beige;
    padding: 20px;
}
input[type="text"]{
    width: 100%;
    border-radius: 5px;
    background-color: lightgrey;
    border: none;
    margin-bottom: 10px;
}
.checked {
    color: orange;
  }
.align{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    height: 100px;
    width: 100px;
    margin: 10px;
}
button{
    width: 100%;
    border: none;
    color: white;
    background-color: orangered;
    padding: 8px;
    margin:10px 5px;
    border-radius: 10px;
}